* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #D2B48C;
}

.container {
  margin: 0px;
  background-color: #F5F5DC;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  margin-bottom: 20px; 
}

header h1 {
  color: #8B4513;
  margin: 0 20px 0 0;
  display: inline-block;
  padding: 20px 0;
}


.button-container {
  padding: 10px;
}

button{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #8B4513;
  margin: 5px;
  cursor: pointer;
}

.content{
  margin-top: 30px;
  background-color:#4a70a2;
  color: white;
}

#image-title {
    font-size: 2.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color:white;
}

#image-description {
    font-size: 1.2em;
    color: white;
    line-height: 1.6;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

/* For small devices (320px to 768px) */
@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  .container {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .content{
    display:flex ;
    flex-direction: column;
    align-items: center;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  button {
    width: 100%;
    margin: 5px 0;
  }

  #main-image {
    max-width: 100%;
    margin: 10px 0;
  }

  #image-citation {
    margin: 10px;
  }

}

/* For medium devices (769px to 1000px) */
@media (min-width: 769px) and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content{
    display:flex ;
    flex-direction: column;
    align-items: center;
  }
  
  .button-container {
    width: 100%;
  }

  button {
    width: 100%;
  }

  #main-image {
    max-width: 100%;
    margin: 10px 0;
  }

  #image-citation {
    margin: 10px;
  }
}

/* For large devices (1001px to 1600px) */
@media (min-width: 1001px) and (max-width: 1600px) {
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .content{
    display:flex ;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .image {
    display:flex ;
    flex-direction: column;
    align-items: flex-start;
  }

  #main-image {
    max-width: 600px;
    margin: 10px;
  }

  #image-citation {
    margin: 10px;
  }

}

/* For extra large devices (1601px to 3200px) */
@media (min-width: 1601px) and (max-width: 3200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .content{
    display:flex ;
    flex-direction: column;
    align-items: center;
  }

  .image {
    display:flex ;
    flex-direction: column;
    align-items: center;
  }

  .button-container {
    width: auto;
  }

  button {
    width: auto;
    margin: 10px;
  }

  #main-image {
    max-width: 1000px;
    margin: 20px;
  }

}